/**
 * fonts...
 */
@font-face {
    font-family: 'Rancho';
    font-style: normal;
    font-weight: 400;
    src: local('Rancho Regular'), local('Rancho-Regular'), url(inbox/fonts/rancho_400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
    font-family: 'Yellowtail';
    src: url('inbox/fonts/yellowtail/yellowtail-regular-webfont.woff2') format('woff2'),
    url('/inbox/fonts/yellowtail/yellowtail-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    width: 100%;
    margin: 0 auto;
}
#container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.innerWrapper {
    width: 100%;
    min-width: 1024px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.innerWrapper:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.outerWrapper {
    width: 100%;
    min-width: 1024px;
    margin: 0;
    padding: 75px 0;
}
.ibd-header {
    padding: 0;
}
.ibd-header .innerWrapper {
    position: relative;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
h2 {
    margin: 0;
    padding: 0 0 25px 0;
    font-size: 50px;
    line-height: 1;
    color: #5a5a5d;
    text-align: center;
    font-style: italic;
}
img{
    max-width: 100%;
}
/**
 * log in...
 */
#headerLogin {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px 35px;
    text-align: right;
    background: #ffffff;
    z-index: 9999;
    border-right: 2px solid #5a5a5d;
    border-bottom: 2px solid #5a5a5d;
    border-left: 2px solid #5a5a5d;
    border-radius: 0 0 16px 16px;
}
#headerLogin:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
#alreadyMember {
    font-size: 11px;
    padding: 5px 12px 2px 0;
}
#login {
    float: left;
}
#login:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
#loginForm {
    margin: 0;
    padding: 0;
}
#loginForm .input-fields input {
    width: 225px;
    margin: 0 0 10px 0;
    padding: 3px;
    border: 2px solid #5a5a5d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.forgot-password {
    box-sizing: border-box;
    color: darkgrey;
    font-style: italic;
    float: right;
    font-size: 14px;
    text-decoration: underline;
    margin: 5px 0 0 0;
}
.login-button {
    cursor: pointer;
    float: left;
    padding: 6px 25px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    background: #c73393;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#submit2:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
}
#login .label {
    color: #5a5a5d;
    font-size: 11px;
    padding: 4px 5px 0 5px;
}
/**
 * header...
 */
.ibd-header {
    height: 60px;
    background: #5a5a5d;
}
.ibd-header img {
    position: relative;
    top: 15px;
    left: 0;
    margin: 0;
}
.nav-bar {
    float: right;
    margin: 13px 0;
    padding: 0;
}
.nav-bar li {
    display: inline;
    padding: 0 0 0 30px;
    font-size: 16px;
    line-height: 1;
}
.nav-bar li a {
    color: #fff;
}
.nav-bar .user-login a {
    display: inline-block;
    padding: 8px 10px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 3px;
}
/**
 * be rewarded section...
 */
#form-sign-up {
    padding: 100px 0;
    border-bottom: 10px solid #5a5a5d;
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/mainbkgimage.jpg) center center no-repeat;
    background-size: 100% 100%;
}
.be-rewarded {
    float: left;
    margin: 0;
    padding: 0;
}
.rewarded {
    margin: 0;
    font: bold normal 60px Arial;
    line-height: 1;
    text-align: center;
    color: #373737;
}
.for {
    margin: 15px 0 30px 0;
    font: 100 normal 35px Arial;
    text-align: center;
    color: #373737;
}
ul.reward-images {
    padding: 0;
}
.reward-images li {
    display: inline-block;
    width: 185px;
    margin: 0;
    padding: 100px 0 0 0;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.be-rewarded .reward-images li.watch-tv {
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/TVicon.png) top center no-repeat;
}
.be-rewarded .reward-images li.take-Surveys {
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/surveysicon.png) top center no-repeat;
}
.be-rewarded .reward-images li.shopping-cash {
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/offersshoppingicon.png) top center no-repeat;
}
/**
 * signup form...
 */
.earn-cash {
    display: block;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 43px;
    margin: 15px 0 10px 0;
    line-height: 1;
    letter-spacing: 2px;
}
.everywhere-you-are {
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    margin: 15px 0 10px 0;
    line-height: 1;
    letter-spacing: 2px;
}
.bonus {
    margin: 0;
    padding: 15px 0 8px 109px;
    color: #286877;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bonus .text {
    font-size: 36px;
    font-weight: bold;
}
.bonus .five {
    font-weight: bold;
    font-size: 46px;
    position: relative;
    right: 12px;
}
.form {
    position: relative;
    float: right;
    width: 335px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #6ebe44;
    border-radius: 15px;
}
#rightClassContentContainer {
    padding: 0 40px 25px 40px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#rightClassContentContainer:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
#emailWrapper,
#passwordWrapper,
#confirmPasswordWrapper {
    position: relative;
}
.form .memberInfoWrapper,
.form .passwordWrapper {
    position: relative;
    margin: 0;
    padding: 0;
}
.form #confirmPasswordWrapper {
    position: relative;
}
.form .formLogo {
    position: absolute;
    top: 12px;
    left: -24px;
}
.form .formLogoEmail {
    position: absolute;
    top: 15px;
    left: 10px;
}
.form #memberPasswordIcon {
    position: absolute;
    left: 10px;
    top: 15px;
}
.form #confirmMemberPasswordIcon {
    position: absolute;
    left: 10px;
    top: 15px;
}
.form input,
.form select {
    width: 100%;
    margin: 8px 0;
    padding: 8px 0 8px 39px;
    font-size: 14px;
    color: #000;
    border: 3px solid #286877;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form input:focus,
.form select:focus {
    outline: 2px solid #c73393;
}
.form select {
    padding: 7px 7px 7px 16px;
}
#captchaWrapper .landingPageSubmitButton {
    width: 100%;
    text-align: center;
    margin: 0;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 65px;
    background: #c73393;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#captchaWrapper .landingPageSubmitButton:hover,
#captchaWrapper .landingPageSubmitButton:focus,
#captchaWrapper .landingPageSubmitButton:active {
    outline: none;
    text-decoration: none;
}
blockquote {
    margin: 50px 0 50px 40px;
}
.quote {
    color: #fff;
    font-style: italic;
    font-size: 18px;
    text-align: left;
    margin: 10px 30px 10px 0;
}
.citation {
    color: #fff;
    font-style: italic;
    font-size: 12px;
    text-align: right;
}
.legal {
    margin-top: 10px;
    padding: 0;
    font-size: 11px;
    color: #286877;
    text-align: center;
}
#legalLanguageContainer #termsAndConditionsContainer {
    margin-top:1px;
    color: #286877;
}
.legal a {
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    color: #286877;
}
.legal a:hover,
.legal a:focus,
.legal a:active {
    outline: none;
    text-decoration: underline;
    color:#fff;
}
.form .errorRow div {
    margin: 0 20px 10px 20px;
    padding: 10px;
    color: #f00;
    font-weight: bold;
    font-size: 12px;
    background: #fff;
    border: 1px solid #5a5a5d;
}
.form #zipWrapper .errorRow div,
.form #confirmPasswordWrapper .errorRow div {
    margin: 0 20px 20px 20px;
}
#captchaWrapper {
    margin: 15px 0 10px 0;
}
#free-flag {
    position: absolute;
    top: 0;
    right: 254px;
    height: 137px;
    width: 100px;
    z-index: 1;
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/freeflag.png) top left no-repeat;
    background-size: 100%;
}
#free-flag:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
/**
 * how it works/how to earn sections...
 */
#dynamic-icons #block-two {
    display: none;
}
.arrow-left {
    position: absolute;
    top: 105px;
    left: 10px;
    z-index: 9999;
}
.arrow-right {
    position: absolute;
    top: 105px;
    right: 10px;
    z-index: 9999;
}
.innerWrapper #block-one:after {
    content: ' ';
    display: block;
    clear: both;
    height: 0;
}
#dynamic-icons .innerWrapper {
    position: relative;
}
.icons-container .how-it-works-header {
    margin: 0;
    padding: 0 0 50px 0;
    color:  #5a5a5d;
    font: bold normal 42px Arial;
    text-align: center;
}
#howItWorks {
    background: #286877;
}
#howItWorks h2 {
    color: #fff;
}
#howItWorks #howItWorksList {
    margin: 0;
    padding: 0 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#howItWorks #howItWorksList:after {
    content: ' ';
    display: block;
    clear: both;
    height: 0;
}
.small-font {
    font-size: 14px;
}
#howItWorks #howItWorksList li .bold {
    color: #fff;
    font-weight: bold;
}
#howItWorks #howItWorksList li {
    float: left;
    width: 25%;
    padding: 150px 0 0 0;
    line-height: 1.5;
    color: #fff;
    box-sizing: border-box;
}
#howItWorks #howItWorksList li#brandDetail {
    position: relative;
    text-align: center;
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/brandicon.png) top center no-repeat;
}
#howItWorks #howItWorksList li#memberDetail {
    position: relative;
    text-align: center;
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/membericon.png) top center no-repeat;
}
#howItWorks #howItWorksList li#surveyDetail {
    width: 30%;
    position: relative;
    text-align: center;
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/deviceicon.png) top center no-repeat;
}
#howItWorks #howItWorksList li#cashDetail {
    width: 20%;
    text-align: center;
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/dollarsignicon.png) top center no-repeat;
}
#howItWorks #howItWorksList li#surveyDetail .small-font {
    display: inline-block;
    padding: 3px 0 0 0;
    font-size: 13px;
    line-height: 1.5;
}
#howItWorks #howItWorksList li#brandDetail:before,
#howItWorks #howItWorksList li#memberDetail:before,
#howItWorks #howItWorksList li#surveyDetail:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 46px;
    border-left: 14px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
#howItWorks #howItWorksList li#brandDetail:after,
#howItWorks #howItWorksList li#memberDetail:after,
#howItWorks #howItWorksList li#surveyDetail:after {
    content: '';
    display: block;
    position: absolute;
    right: 1px;
    top: 47px;
    border-left: 13px solid #286877;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
}
.icons-container .how-to-earn-header {
    margin: 0;
    padding: 0 0 50px 0;
    color:  #5a5a5d;
    font: bold normal 42px Arial;
    text-align: center;
}
#dynamic-icons #second-icons-list {
    margin: 0;
    padding: 0 65px;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#dynamic-icons #second-icons-list:after {
    content: ' ';
    display: block;
    clear: both;
    height: 0;
}
.innerWrapper #block-two:after {
    content: ' ';
    display: block;
    clear: both;
    height: 0;
}
.innerWrapper #block-two .block-two-text {
    display: inline-block;
}
.small-font {
    font-size: 13px;
}
#howYoullEarn h2 {
    padding: 0 0 50px 0;
}
#howYoullEarn #howYoullEarnList {
    margin: 0;
    padding: 0;
}
#howYoullEarn #howYoullEarnList li .bold {
    font-size: 16px;
    line-height: 1.5;
    color: #5a5a5d;
    font-weight: bold;
    border-bottom: 2px solid #5a5a5d;
}
#howYoullEarn #howYoullEarnList li {
    float: left;
    width: 33.3333%;
    min-height: 108px;
    margin: 0;
    padding: 0 10px 0 125px;
    color: #5a5a5d;
    box-sizing: border-box;
}
#howYoullEarn #howYoullEarnList li p {
    margin: 8px 0 0 0;
    padding: 0;
    line-height: 1.5;
}
#howYoullEarn #howYoullEarnList #surveys-detail {
    height: 260px;
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/surveysicon.png) 10px top no-repeat;
}
#howYoullEarn #howYoullEarnList #watchTV-detail {
    height: 260px;
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/TVicon.png) 10px top no-repeat;
}
#howYoullEarn #howYoullEarnList #games-detail {
    height: 260px;
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/gamesicon.png) 10px top no-repeat;
}
#howYoullEarn #howYoullEarnList #shopping-detail {
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/offersshoppingicon.png) 8px top no-repeat;
}
#howYoullEarn #howYoullEarnList #location-detail {
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/paidemailicon.png) 10px top no-repeat;
}
#howYoullEarn #howYoullEarnList #paid-email-detail {
    background: url(/inbox/graphics/creative/landing_pages/landing28a-fff/couponicon.png) 28px top no-repeat;
}
#howYoullEarn #howYoullEarnList:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
/**
 * members section...
 */
#members {
    padding: 0;
    background: #286877;
}
#members .innerWrapper {
    position: relative;
}
#members .orange-panel {
    position: absolute;
    top: -38px;
    left: 0;
    z-index: 1;
}
#members .text-over-orange-panel {
    position: absolute;
    top: 15px;
    left: 60px;
    font-family: 'Rancho', cursive;
    font-size: 30px;
    color: #ffffff;
    transform: rotate(-11deg);
}
.members-words-container {
    float: right;
    width: 60%;
    padding: 75px 0 0 100px;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.words-from-members h1 {
    font-size: 32px;
    color: #ffffff;
    text-align: center;
}
.member-one {
    float: left;
    width: 50%;
    padding: 0 30px 0 0;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.member-two {
    float: right;
    width: 50%;
    padding: 0 0 0 30px;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.member-one p,
.member-two p {
    height: 65px;
}
.quotes {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-style: italic;
}
.check-card {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    padding: 85px 0 25px 0;
}
.check-card img {
    position: relative;
    top: 0;
    left: 10%;
    width: 90%;
}
.check-card:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
/**
 * partners section...
 */
#all-partners {
    margin-top: 30px;
}
.partners-text {
    float: left;
    width: 40%;
    margin: 0;
    padding: 0 20px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.partners-text h1 {
    font: bold normal 32px Arial;
    color: #5a5a5d;
    line-height: 1;
    margin: 0;
}
.partners-text p {
    font-style: italic;
    font-size: 17px;
    box-sizing: border-box;
}
.partners-logos {
    float: right;
    width: 60%;
    margin: 0;
    padding: 22px 0 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.partners-logos img{
    width: 100%;
}
.partners-logos:after {
    content: ' ';
    display: block;
    clear: both;
    height: 0;
}
/**
 * footer...
 */
#footer {
    padding: 0;
    color: #fff;
    background: #5a5a5d;
}
#footer .innerWrapper {
    padding: 0;
}
#newFooter #connectWrapper #connectLinksList li {
    display: inline-block;
    width: 24%;
    margin: 0;
}
#newFooter #connectWrapper #connectLinksList li:nth-child(2) {
    margin: 0 0.6666% 0 1.3333%;
}
#newFooter #connectWrapper #connectLinksList li:nth-child(3) {
    margin: 0 1.3333% 0 0.6666%;
}
#newFooter {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
#newFooter:after {
    content: ' ';
    display: block;
    clear: both;
    height: 0;
}
#newFooter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#newFooter li, #newFooter a {
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1.4;
}
#newFooter h3 {
    margin: 15px 0 10px 0;
}
#newFooter #connectWrapper h3 {
    text-align: center;
}
#newFooter #connectLinksList {
    text-align: center;
}
#newFooter #propertyWrapper {
    float: left;
    width: 29%;
}
#newFooter #earnWrapper {
    float: left;
    width: 21%;
}
#newFooter #infoWrapper {
    float: left;
    width: 22%;
}
#newFooter #connectWrapper {
    float: right;
    width: 280px;
    max-width: 28%;
}
#newFooter #connectWrapper #connectLinksList:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
}
#newFooter #copyrightWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
/**
 * reCaptcha
 */
#captcha_contact {
    display: none;
    float: left;
    text-align: left;
    padding: 7px 0 0 0;
}
.passwordWrapper #captcha_contact .g-recaptcha {
    transform:scale(0.84);
    -webkit-transform:scale(0.84);
    -moz-transform:scale(0.84);
    transform-origin:0 0;
}
.passwordWrapper #verifyCaptcha {
    color: #ffffff;
    font-size: 12px;
}
.passwordWrapper #reCaptcha-error-message {
    margin: 0 20px 5px 20px;
    padding: 10px;
    color: #f00;
    font-weight: bold;
    font-size: 12px;
    background: #fff;
    border: 1px solid #5a5a5d;
    text-align: center;
    width: 193px;
}
/**
 * fix for captcha notice for null landing page...
 */
#rightClassContentContainer .passwordWrapper .grecaptcha-badge {
    position: absolute !important;
    bottom: -152px !important;
    right: -3px !important;
    overflow: hidden !important;
}
#rightClassContentContainer .passwordWrapper .grecaptcha-badge:hover {
    right: -3px !important;
}
#earnCashForEveryday #videoWrapper {
    text-align: center;
}
#earnCashForEveryday h2 {
    padding: 0 0 40px 0;
}
#paidToMembers {
    background: #286877;
}
#paidToMembers h2 {
    padding: 0 0 40px 0;
    color: #fff;
}
#memberReviews h2 {
    padding: 0 0 40px 0;
}
#partners {
    text-align: center;
    border-top: 3px solid #5a5a5d;
    border-bottom: 3px solid #5a5a5d;
}
#partners p {
    margin: 0 0 40px 0;
    line-height: 1.5;
    color: #5a5a5d;
    text-align: center;
    font-style: italic;
}
#earnMoneyOnlineWrapper p {
    margin: 15px 0;
}
#earnMoneyOnlineWrapper p:last-child {
    margin: 15px 0 0 0;
}
#earnMoneyOnlineWrapper img {
    width: 100%;
}
#earnMoneyOnlineWrapper .innerWrapper:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
#earnMoneyOnlineWrapper h2 {
    text-align: left;
    line-height: 1.2;
}
#earnMoneyOnlineWrapper .left {
    float: left;
    width: 50%;
    padding: 0 15px 0 0;
    box-sizing: border-box;
}
#earnMoneyOnlineWrapper .right {
    float: right;
    width: 50%;
    padding: 0 0 0 15px;
    box-sizing: border-box;
}
#subFooterWrapper {
    padding: 40px 0;
    color: #fff;
    text-align: center;
    background: #6ebe44;
    box-sizing: border-box;
}
#subFooterWrapper h2 {
    margin: 0;
    padding: 0;
    font-family: 'Yellowtail', cursive;
    color: #387c2c;
    font-weight: normal;
}
#subFooterWrapper h2 .bold {
    padding: 0 0 0 15px;
    font-family: Arial,sans-serif;
    color: #fff;
    font-weight: bold;
    font-style: normal;
}
#subFooterWrapper p {
    margin: 20px 230px;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
}
#subFooterWrapper #guestSignUpNowButton {
    display: block;
    width: 300px;
    margin: 35px auto 0 auto;
    padding: 16px 0;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: #c73393;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
#seoGuestFooterWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}
#seoGuestFooterWrapper .outerWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#seoGuestFooterWrapper .innerWrapper {
    width: 100%;
    min-width: 1024px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 15px;
    box-sizing: border-box;
}
#seoGuestFooterWrapper .extraDetailsWrapper .innerWrapper {
    padding: 20px 15px;
}
#seoGuestFooterWrapper .innerWrapper:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
#seoGuestFooterWrapper .linksWrapper {
    color: #fff;
    background: #555;
}
#seoGuestFooterWrapper .extraDetailsWrapper {
    color: #5a5a5d;
    background: #fff;
}
#seoGuestFooterWrapper .linksWrapper h3 {
    font-size: 20px;
    line-height: 1;
    color: #fff;
    margin: 0 0 18px 0;
    padding: 0;
}
#seoGuestFooterWrapper #propertyWrapper {
    float: left;
    width: 17%;
}
#seoGuestFooterWrapper #earnWrapper {
    float: left;
    width: 12%;
}
#seoGuestFooterWrapper #infoWrapper {
    float: left;
    width: 15%;
}
#seoGuestFooterWrapper #connectWrapper {
    float: left;
    width: 23%;
}
#seoGuestFooterWrapper #footerBbbWrapper {
    position: relative;
    float: right;
    width: 33%;
    margin: 0;
    padding: 0;
}
#seoGuestFooterWrapper #propertyLinksList,
#seoGuestFooterWrapper #earnLinksList,
#seoGuestFooterWrapper #infoLinksList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
}
#seoGuestFooterWrapper #propertyLinksList li,
#seoGuestFooterWrapper #earnLinksList li,
#seoGuestFooterWrapper #infoLinksList li {
    margin: 0 0 6px 0;
    padding: 0;
    line-height: 1;
}
#seoGuestFooterWrapper #propertyLinksList li:last-child,
#seoGuestFooterWrapper #earnLinksList li:last-child,
#seoGuestFooterWrapper #infoLinksList li:last-child {
    margin: 0;
}
#seoGuestFooterWrapper #propertyLinksList a,
#seoGuestFooterWrapper #earnLinksList a,
#seoGuestFooterWrapper #infoLinksList a {
    font-size: 14px;
    line-height: 1;
    color: #fff;
}
#seoGuestFooterWrapper #propertyLinksList a:hover,
#seoGuestFooterWrapper #propertyLinksList a:focus,
#seoGuestFooterWrapper #propertyLinksList a:active,
#seoGuestFooterWrapper #propertyLinksList a:visited,
#seoGuestFooterWrapper #earnLinksList a:hover,
#seoGuestFooterWrapper #earnLinksList a:focus,
#seoGuestFooterWrapper #earnLinksList a:active,
#seoGuestFooterWrapper #earnLinksList a:visited,
#seoGuestFooterWrapper #infoLinksList a:hover,
#seoGuestFooterWrapper #infoLinksList a:focus,
#seoGuestFooterWrapper #infoLinksList a:active,
#seoGuestFooterWrapper #infoLinksList a:visited {
    color: #fff;
}
#seoGuestFooterWrapper #connectLinksList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#seoGuestFooterWrapper #connectLinksList img {
    width: 100%;
}
#seoGuestFooterWrapper #connectLinksList li {
    float: left;
    width: 23%;
    margin: 0;
    padding: 0 0.6666% 0 1.3333%;
}
#seoGuestFooterWrapper #connectLinksList li:first-child {
    padding: 0 2% 0 0;
}
#seoGuestFooterWrapper #connectLinksList li:nth-child(2) {
    padding: 0 1.3333% 0 0.6666%;
}
#seoGuestFooterWrapper #connectLinksList li:last-child {
    padding: 0 0 0 2%;
}
#seoGuestFooterWrapper #copyrightWrapper {
    float: left;
    font-size: 14px;
    line-height: 1;
    color: #5a5a5d;
}
#seoGuestFooterWrapper #privacyAndTermsWrapper {
    float: right;
}
#seoGuestFooterWrapper #privacyAndTermsWrapper a {
    font-size: 14px;
    line-height: 1;
    color: #5a5a5d;
}
#seoGuestFooterWrapper #privacyAndTermsWrapper a:hover,
#seoGuestFooterWrapper #privacyAndTermsWrapper a:active,
#seoGuestFooterWrapper #privacyAndTermsWrapper a:focus,
#seoGuestFooterWrapper #privacyAndTermsWrapper a:visited {
    color: #5a5a5d;
}
#seoGuestFooterWrapper #privacyAndTermsWrapper #footerPrivacyLink {
    display: inline-block;
    padding: 0 9px 2px 0;
    margin: 0 6px 0 0;
    border-right: 1px solid #5a5a5d;
}
#seoGuestFooterWrapper #bbbWrapper {
    margin: 40px 0 15px 0;
}
#seoGuestFooterWrapper #bbbWrapper:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
#seoGuestFooterWrapper #bbbWrapper a#bbblink {
    float: right;
}
#seoGuestFooterWrapper #footerTrustPilotWrapper {
    float: right;
    width: 222px;
    overflow: hidden;
}
#seoGuestFooterWrapper #footerTrustPilotWrapper iframe {
    width: auto !important;
}
/**
 * media queries...
 */
@media screen and (min-width: 1300px) { /* +20 for padding - prevents screen jumping at break point */
    .headerFooterContentWrapper {
        min-width: 1280px;
        max-width: 85%;
    }
    #footer .headerFooterContentWrapper {
        max-width: 100%;
    }
}